@charset "UTF-8";

@font-face {
  font-family: "Ionicons";
  src: url("ionicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow: hidden;
  touch-action: pan-y; 
  user-select: none;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;}

body {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #000;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none; }

.ion-search:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f21f"; }

.item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  margin-bottom: 7px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px; 
  overflow: hidden;
  text-overflow: ellipsis; }

a {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  a, :focus, a:focus, a:active, a:hover {
    outline: 0; }

a.item {
  color: inherit;
  text-decoration: none; }

.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px; }

.list:last-child {
  margin-bottom: 0px; }

ul {
  list-style: none;
  margin-top: 10px;
  color: #777;
  overflow-y: auto;
  max-height: 84vh;
}
ul .item span { 
  float: right;
  color: #aaa;
  font-size: 14px;}
ul .item span r {
    color: #6c97e6;
}

.list-inset {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: #fff; }
.list-inset .item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
.list-inset .item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; 
  margin-bottom: -1px; }
.list-inset .item {
  margin-right: 0;
  margin-left: 0; }

label, input{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857; }

input {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-font-smoothing: inherit;
  background-image: none;
  line-height: normal;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }
input::-webkit-input-placeholder {
  color: #aaaaaa;
  text-indent: 0; }

.item-input {
  display: flex;
  visibility: hidden;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 6px 0 5px 16px; }
  .item-input input {
    -webkit-box-flex: 1;
    flex: 1 220px;
    background-color: transparent; 
    display: block;
    padding-top: 2px;
    padding-left: 0;
    padding-right: 24px;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    line-height: 16px; 
    width: 100%; }
  .item-input .icon {
    min-width: 14px; 
  color: #aaa; }
  .item-input .icon:first-child {
    padding-right: 6px; }

loadr {
  width: 80px;
  height: 80px;
  display: block;
  margin: 100px auto;
  background-color: #6c97e6;
  border-radius: 100%; 
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { 
    -webkit-transform: scale(0) 
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}